<header id="header">

  <nav class="nav-container group" id="nav-topbar">
    <div class="nav-toggle"><i class="fa fa-bars"></i></div>
    <div class="nav-text"><!-- put your mobile menu text here --></div>
    <div class="nav-wrap container">
      <a rel="nofollow" href="{{ .Site.BaseURL }}/" class="nav-cs-icon">
        <img width="40" height="40" src="/public/coderzh.jpg" alt="coderzh" title="Home">
      </a>
      <ul id="menu-default-menu" class="nav container-inner group">
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="/">首页</a>
        </li>
        {{ range .Site.Params.Categories }}
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="/categories/{{ . | urlize }}/">{{ . }}</a>
        </li>
        {{ end }}
        {{ range .Site.Menus.main }}
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a rel="nofollow" href="{{ .URL }}">{{ .Name}}</a>
        </li>
        {{ end }}
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          {{ with .OutputFormats.Get "RSS" }}
          <a rel="nofollow" href="{{ .RelPermalink }}" type="application/rss+xml" target="_blank">订阅</a>
          {{ end }}
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-text">
        {{ .Site.Params.Tagline }}
        </li>
      </ul>
    </div>
  </nav>
  <!--/#nav-topbar-->

</header>
<!--/#header-->
